
@{
    ViewData["Title"] = "Index";
}
@model List<Product>
<h1>Products</h1>
<a asp-controller="Products" asp-action="Add">Add</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>
                    <a asp-controller="Products" asp-action="Remove" asp-route-id="@product.Id">Remove</a>
                    <a asp-controller="Products" asp-action="Update" asp-route-id="@product.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

